.greeting {
    text-align: center
}

#main {
    /*background-color: #C0C0C0;*/
    min-width: 100%;
    min-height: 100%;
}


.links {
    overflow: hidden
}

.block_50 {
    float: left;
    width: 50%;
    min-height: 1000px;
    height: 100%;
}

.block_25 {
    float: left;
    width: 25%;
    height: 100%;
}